input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.1rem;
}

input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    width: 100%;
    margin: -0.6rem 0 0.7rem 0;
    color: red;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

label {
    font-size: 1rem;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.login-form-container {
    border-radius: 5px;
    background-color: #ffffffe5;
    padding: 20px;
    width: 50%;
    margin: 4% 5%;
}

.error-alert {
    width: 100%;
    padding: 1rem;
    margin: 5px 0;
    background-color: rgb(255, 179, 179);
    color: red;
    font-weight: 800;
    text-align: center;
    font-size: 1rem;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}